<%= form_for @broment do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :size => "30x30" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>