<tr>
  <td class="broment">
    <span class="content"><%= broment.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(broment.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(broment.user) %>
  <td>
    <%= link_to "delete", broment, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => broment.content %>
  </td>
  <% end %>
</tr>